input[type="text"], textarea {
  background-color : #fff;
  padding: 7%;
  font-size: 1rem;
  width: 70%;
  text-align: center;
}

textarea::placeholder {
  transform: translateY(9px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 90%;
}

.next {
  width: 23%;
  height: 100%;
  background-color: #4978be;
  border: none;
}

.next img {
  width: 40%;
}

.vanish {
  display: none !important;
}

.required {
  color: #ff6e6e;
  font-size: 1rem;
  margin: 1%;
  padding: 2%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  input[type="text"], textarea {
    font-size: 1.8rem;
    padding: 5%;
  }

  .input-container {
    margin: 10% 10% 0% 10%;
    width: 70%;
  }

  .next {
    width: 17%;
  }

  .required {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  input[type="text"], textarea {
    font-size: 1.3rem;
    padding: 3%;
  }

  .input-container {
    width: 27%;
    margin-top: 5%;
  }

  .next {
    width: 13%;
  }

  .required {
    font-size: 0.9rem;
    padding: 0%;
  }
}